/* Global Styles */
body {
    background-color: #d9dddc;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.25;
}
/* Global Styles */

/* ------- header ------- */
.header {
    width: 85%;
    margin: auto;
    font-family: "Cormorant Garamond", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    cursor: pointer;
}
/* ------- header ------- */

/* ------- navbar_mobile ------- */
.navbar_mobile {
    font-family: "Cormorant Garamond", serif;
    background-color: #d9dddc;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_mobile img {
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.navbar_mobile_main h2 {
    cursor: pointer;
}

/* ------- navbar_mobile ------- */

/* ------- home ------- */
.home {
    padding: 0;
    margin: 0;
}

.home-body img {
    width: 85%;
}
/* ------- home ------- */

/* ------- footer ------- */
.footer {
    width: 85%;
    margin: auto;
    margin-top: 1em;
    font-family: "Cormorant Garamond", serif;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container a {
    max-width: 30px;
    max-height: 30px;
}

.footer-container img {
    max-width: 30px;
}
/* ------- footer ------- */

/* ------- portfolio ------- */
.portfolio-item {
    max-width: 80%;
    margin-bottom: 1em;
}
/* ------- portfolio ------- */

/* ------- about me ------- */
.aboutme-profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.aboutme-container {
    margin: 2em;
}

.aboutme-item {
    text-align: left;
    margin-bottom: 1em;
}

.aboutme-item a {
    text-decoration: underline;
}
/* ------- about me ------- */
