/* Global Styles */
body {
    background-color: #d9dddc;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.25;
}
/* Global Styles */

/* ------- header ------- */
.header {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    cursor: pointer;
}

.header h1 {
    font-size: 27px;
}

@media only screen and (min-width: 720px) {
    .header img {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .header h1 {
        text-align: left;
    }
}

@media only screen and (min-width: 1260px) {
    .header {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
}
/* ------- header ------- */

/* ------- navbar_mobile ------- */
.navbar_mobile {
    background-color: #d9dddc;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_mobile_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar_mobile img {
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.nav-mobile-item {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: #808080;
}

.nav-mobile-item:hover {
    color: black;
}

.nav-mobile-item:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-mobile-item:hover:after {
    width: 100%;
}

.nav-mobile-item-selected {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: #000000;
}

.nav-mobile-item-selected:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
/* ------- navbar_mobile ------- */

/* ------- navbar-desktop ------- */
.nav-desktop {
    display: none;
}

@media only screen and (min-width: 720px) {
    .nav-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-desktop-item {
        position: relative;
        cursor: pointer;
        font-size: 17px;
        font-family: "DM Sans", sans-serif;
        color: #808080;
    }

    .nav-desktop-item:hover {
        color: black;
    }

    .nav-desktop-item:after {
        content: "";
        position: absolute;
        background-color: black;
        height: 1px;
        width: 0%;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }

    .nav-desktop-item:hover:after {
        width: 100%;
    }

    .nav-desktop-item-selected {
        position: relative;
        cursor: pointer;
        font-size: 17px;
        font-family: "DM Sans", sans-serif;
        color: #000000;
    }

    .nav-desktop-item-selected:after {
        content: "";
        position: absolute;
        background-color: black;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }
}
/* ------- navbar-desktop ------- */

/* ------- home ------- */
.home {
    margin: auto;
}

.home-body img {
    width: 85%;
}

.home-img {
    display: none;
}

@media only screen and (min-width: 720px) {
    .home {
        width: 85%;
    }
    .home-body {
        width: 80%;
        margin: 3em auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-body img {
        width: 48%;
    }

    .home-img {
        display: block;
    }
}
/* ------- home ------- */

/* ------- footer ------- */
.footer {
    width: 85%;
    max-width: 300px;
    margin: auto;
    margin-top: 2em;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container a {
    max-width: 30px;
    max-height: 30px;
}

.footer-container img {
    max-width: 30px;
}
/* ------- footer ------- */

/* ------- portfolio ------- */
.portfolio-item {
    max-width: 85%;
    margin-bottom: 1em;
}
/* ------- portfolio ------- */

/* ------- computing ------- */
.skills-container {
    margin: auto;
    text-align: left;
    width: 85%;
}

.skills-item {
    margin-bottom: 1em;
}

.skills-item h3 {
    margin: 0;
    margin-bottom: 0.3em;
}

.progressbar {
    overflow: hidden;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    border-color: #000000;
    background-color: #eee;
}

.progressPercent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
/* ------- computing ------- */

/* ------- about me ------- */
.aboutme-profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.aboutme-container {
    margin: 2em;
}

.aboutme-item {
    text-align: left;
    margin-bottom: 1em;
}

.aboutme-item a {
    text-decoration: underline;
}
/* ------- about me ------- */
